.link {
  color: #61dafb;
}

.Game-body {
  background-color: #F5ECD4;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.PromptArea {
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.PromptArea h1 {
  text-align: center;
}

.timer {
  font-size: calc(30px + 2vmin);
  color: #D73C45;
}

.TimerArea {
  grid-column-start: 2;
  grid-row-start: 2;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.AdminArea {
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
