.link {
  color: #61dafb;
}

.Lobby-body {
  background-color: #F5ECD4;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Lobby-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

.Lobby-form {
  display: flex;
  grid-column-start: 2;
  align-items: center;
  justify-content: center;
}

.Lobby-button {
	background-color:#DEAB66;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	padding:12px 31px;
	text-decoration:none;
}

.Lobby-button:hover {
	background-color:#ECD88B;
}

.Lobby-button:active {
	position:relative;
	top:1px;
}
